<!doctype html>
<html>
<head>
    <title>Add</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span>Add Contact</h1>
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <form action="/add" method="post" enctype='multipart/form-data'>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label>Url</label>
            <input type="text" class="form-control" name="url">
        </div>
        <div class="form-group">
            <label>Image</label>
            <input type="file" class="form-control" name="image" />
        </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="number" class="form-control" name="phoneNumber" />
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Submit</button>
    </form>

</div>

</div>
</body>
</html>