<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <link data-require="datatables@*" data-semver="1.10.12" rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
    <link data-require="font-awesome@*" data-semver="4.5.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" />
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />

    <script data-require="jquery" data-semver="3.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
    <script data-require="datatables@*" data-semver="1.10.12" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
</head>

<body>
     <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Dashboard </h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <p><a href="/add" class="btn btn-primary" role="button">Add</a></p>
     <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <table class="table table-striped table-bordered" id="example">
        <thead>
            <tr>
                <th>Name</th>
                <th>URL</th>
                <th>Image</th>
                <th>Phone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% if(contacts && contacts.length) {  
                contacts.forEach(function(contact){
            %>
            <tr>
                <td><%= contact.name %></td>
                <td><%= contact.url %></td>
                <td> <img height=30 widtd=60 src="<%= contact.image %>" alt="Red dot" /></td>
                <td><%= contact.phoneNumber %></td>
                <td><p><a href="/delete/<%= contact._id %>" class="btn btn-primary" role="button">Delete</a><a href="/edit/<%= contact._id %>" class="btn btn-primary" role="button">Edit</a></p></td>
            </tr>
            <% })
        } %>
        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready(function() {
    $('#example').DataTable( {
        responsive: true
    } );
} );
    </script>
</body>

</html>